<h1><%= @employee.name %></h1>

<h3>Department: <%= @employee.department.name %> </h3>
<h3>Open Tickets: </h3> 
<p><% @employee.open_tickets.each do |et| %></p>
  <div id="tix-<%=et.id%>">
    <p> Subject: <%= et.subject %> </p>
    <p> Age: <%= et.age %> </p>
  <% end %>
  </div>